@model AllCarsViewModel

<h1 class="text-center text-success">All cars</h1>

@if (!Model.Cars.Any())
{
    <h3 class="text-center">No cars found!</h3>
    <h6 class="text-center">Try adding a new car <a asp-action="Create" asp-controller="Cars" class="text-info"><b>here</b>.</a></h6>
}
else
{
    <form method="get" class="row col-md-6 offset-6 sorting">
        <partial name="_CarSortingPartial" model="@Model.SortingModel" />
        <div class="col">
            <input type="submit" value="Sort" class="btn btn-primary" />
        </div>
    </form>
    <div class="cars__wrapper mt-5">
        <partial name="../Cars/_CarsListingPartial" model="@Model.Cars" />
    </div>
}

<vc:pagination conroller-name="Cars"
               action-name="All"
               current-page="@Model.CurrentPage"
               cars-per-page="@Model.CarsPerPage"
               total-cars="@Model.TotalCars">
</vc:pagination>

@section Scripts {
    
}
