@model AllCarsViewModel

@{ 
    ViewData["Title"] = "All cars";
}



@if (!Model.Cars.Any())
{
    <h3 class="text-center">No cars found!</h3>
    <h6 class="text-center">Try adding a new car <a asp-action="Create" asp-controller="Cars" class="text-info"><b>here</b>.</a></h6>
}
else
{
    <div class="row">
        <div class="col-md-5 d-flex align-items-end">
            <h1 class="text-info m-0">Browse all cars</h1>
        </div>
        <form method="get" class="row col-md-6 offset-1 sorting">
            <partial name="_CarSortingPartial" model="@Model.SortingModel" />
        </form>
    </div>
    <div class="cars__wrapper mt-3">
        <partial name="../Cars/_CarsListingPartial" model="@Model.Cars" />
    </div>
}

<vc:pagination conroller-name="Cars"
               action-name="All"
               current-page="@Model.CurrentPage"
               cars-per-page="@Model.CarsPerPage"
               total-cars="@Model.TotalCars">
</vc:pagination>

@section Scripts {
    
}
