@model CarDetailsViewModel
@inject IDealersService DealersService
@inject IImagesService Image

<div class="car-data">
    <div class="row my-5">
        <div class="col-md-6 col-sm-12 d-flex flex-column justify-content-between">
            <div class="car-meta">
                <h3 class="car-meta__title">@Model.Car.Brand @Model.Car.Model</h3>
                <h5 class="car-meta__modification">@Model.Car.Modification</h5>
                <div class="car-meta__year"><b>Produce year:</b> @Model.Car.ProduceYear</div>
                <div class="car-meta__engine"><b>Engine type:</b> @Model.Car.EngineType</div>
                <div class="car-meta__hp"><b>Horse power:</b> @Model.Car.HorsePower hp</div>
                <div class="car-meta__standard"><b>Euro standard:</b> @Model.Car.EuroStandard</div>
                <div class="car-meta__transmission"><b>Transmission:</b> @Model.Car.TransmisionType</div>
                <div class="car-meta__coupe"><b>Coupe type:</b> @Model.Car.CoupeType</div>
                <div class="car-meta__coupe"><b>Travelled distance:</b> @Model.Car.TravelledDistance</div>
                <div class="car-meta__color"><b>Color:</b> @Model.Car.Color</div>
            </div>
            <div class="car-price-container">
                <div class="car__price"><b>Price:</b> @Model.Car.Price лв</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 car-image-container">
            @{
                var imageUrl = "";

                if (await Image.IsValidAsync(Model.Car.ImageUrl))
                {
                    imageUrl = Model.Car.ImageUrl;
                }
                else
                {
                    imageUrl = "/img/car-placeholder.jpg";
                }
            }

            <img src="@imageUrl" alt="@Model.Car.Brand @Model.Car.Model - @Model.Car.Modification" />
        </div>
    </div>

    <h4 class="mt-5">Car properties</h4>
    <div class="row mt-4">
        @if (Model.Car.SafetyProperties.Any())
        {
            <div class="col">
                <h6>Safety</h6>
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.Car.SafetyProperties)
                    {
                        <li class="list-group-item">@item</li>
                    }
                </ul>
            </div>
        }

        @if (Model.Car.ComfortProperties.Any())
        {
            <div class="col">
                <h6>Comfort</h6>
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.Car.ComfortProperties)
                    {
                        <li class="list-group-item">@item</li>
                    }
                </ul>
            </div>
        }

        @if (Model.Car.ExteriorProperties.Any())
        {
            <div class="col">
                <h6>Exterior</h6>
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.Car.ExteriorProperties)
                    {
                        <li class="list-group-item">@item</li>
                    }
                </ul>
            </div>
        }
    </div>
    <div class="row mt-3">
        @if (Model.Car.OtherProperties.Any())
        {
            <div class="col">
                <h6>Other</h6>
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.Car.OtherProperties)
                    {
                        <li class="list-group-item">@item</li>
                    }
                </ul>
            </div>
        }

        @if (Model.Car.InteriorProperties.Any())
        {
            <div class="col">
                <h6>Interior</h6>
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.Car.InteriorProperties)
                    {
                        <li class="list-group-item">@item</li>
                    }
                </ul>
            </div>
        }

        @if (Model.Car.ProtectionProperties.Any())
        {
            <div class="col">
                <h6>Protection</h6>
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.Car.ProtectionProperties)
                    {
                        <li class="list-group-item">@item</li>
                    }
                </ul>
            </div>
        }

        @if (Model.Car.SpecialProperties.Any())
        {
            <div class="col">
                <h6>Special</h6>
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.Car.SpecialProperties)
                    {
                        <li class="list-group-item">@item</li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
<div class="mt-5">
    <h5 class="d-block">Description</h5>
    <div class="d-block">@Model.Car.Description</div>
</div>
<div class="row my-5">
    <div class="dealer-data col border border-dark rounded p-3">
        <div><b>Dealer</b>: @Model.Dealer.Name</div>
        <div><b>Phone number</b>: @Model.Dealer.PhoneNumber</div>
    </div>
    <div class="col">
        @if ((this.User.IsDealer() && DealersService.OwnsCar(this.User.GetId(), Model.Car.Id)) || this.User.IsAdmin())
        {
            <a asp-action="Delete" asp-controller="Cars" asp-route-id="@Model.Car.Id" class="float-md-right btn btn-outline-danger ml-2">Delete car</a>
            <a asp-action="Edit" asp-controller="Cars" asp-route-id="@Model.Car.Id" class="float-md-right btn btn-warning">Edit car</a>
        }

    </div>
</div>

@section Styles {
    <style>
        .car-data .list-group-item {
            padding: .01em 0;
            border-color: rgba(0,0,0,0.05);
        }

        .car-image-container img {
            width: 100%;
        }

        .car__price {
            font-size: 1.7em;
        }
    </style>
} 