@model PaginationViewModel 



<div class="pagination justify-content-end mt-4">
    <a class="page-link next" aria-label="Next >>>"
       asp-controller="@Model.ControllerName"
       asp-action="@Model.ActionName"
       asp-route-page="@Model.PreviousPage">Previous</a>
    <a class="page-link prev" aria-label="<<< Previous"
       asp-controller="@Model.ControllerName"
       asp-action="@Model.ActionName"
       asp-route-page="@Model.NextPage">Next</a>
</div>